:root {
    --aspect-ratio: 1.2;
}

body {
    margin: 0;
    padding: 0;
}

.bonefire {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.bone_back_container {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bone_back {
    height: calc(30vw / var(--aspect-ratio));
    width: 30vw;

    background-image: url(bonfire.png);
    background-position: 51% 100%;
    background-repeat: no-repeat;
    background-size: contain;

    animation: flickering 4s cubic-bezier(0.5, 0, 0.06, 1.43) infinite;
}

.fire_container {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.fire {
    height: calc(100vw / var(--aspect-ratio));
    width: 100vw;

    mix-blend-mode: multiply;
}

.fire.on {
    background-image: url(noiseSmall.svg), url(noise1.svg), url(noise.svg),
        linear-gradient(180deg, #000000, #a63c3cee 50%, #f9ae05d4);
    background-blend-mode: color-burn, color-burn, color-burn, hard-light;
    background-size: contain;

    filter: sepia(1) contrast(6);

    /* animation: firing 60s linear infinite; */
}

.fire_limits_container {
    position: absolute;
    z-index: 2;
    bottom: 0;

    mix-blend-mode: multiply;
}

.fire_limits {
    height: calc(100vw / var(--aspect-ratio));
    width: 100vw;

    background-image: radial-gradient(
                ellipse 21% 24% at 50% 81%,
                #cb8f8f 30%,
                black 52%
            )
            /* limiting the hight of the fire */,
        radial-gradient(ellipse 20% 68% at 50% 62%, white 38%, black 52%),
        radial-gradient(ellipse 45% 92% at 50% 77%, #a16d22 13%, black 52%);
    background-size: contain;
    background-blend-mode: soft-light;
}

.fire_lights_container {
    position: absolute;
    z-index: 3;
    bottom: 0;
}

.fire_lights {
    height: calc(100vw / var(--aspect-ratio));
    width: 100vw;

    background-image: radial-gradient(
            ellipse 45% 14% at 50% 94%,
            #08040454 12% /* center of fire light */,
            #372b1da3 42% /* general light outside bone */,
            transparent 100% /* no effect outside */
        ),
        /* horizontal lights on the ground around bone*/
            radial-gradient(
                ellipse 18% 42% at 50% 86%,
                #ffb20082 0% /* center of fire light */,
                #ffad0017 28% /* general light outside bone */,
                transparent 100% /* no effect outside */
            )
            /* vertical lights */;
    /* mix-blend-mode: lighten; */
    background-size: contain;
    background-blend-mode: color-burn;

    filter: blur(10px) opacity(0.9);
}

.bone_front_container {
    position: absolute;
    z-index: 4;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    mix-blend-mode: color-dodge;
}

.bone_front {
    height: calc(30vw / var(--aspect-ratio));
    width: 30vw;

    background-image: url(bonfire.png);
    background-position: 51% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: color-burn;
}

button {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    font-size: xx-large;
    font-family: monospace;
    color: rgb(98, 48, 1);
    background-color: #000000;
    border: none;
    cursor: pointer;
}

@keyframes firing {
    from {
        background-position: 512px 9216px /* noiseMedium */,
            1536px 0 /* noiseMedium */, 0 7168px /* noiseSmall */,
            0 /* smog color gradient */;
    }
    to {
        background-position: 512px 4216px /* noiseMedium */,
            512px 216px /* noiseMedium */, 1024px 0 /* noiseSmall */,
            0 /* smog color gradient */;
    }
}

@keyframes flickering {
    0% {
        filter: brightness(1);
    }
    25% {
        filter: brightness(4);
    }
    66% {
        filter: brightness(2);
    }
    80% {
        filter: brightness(5);
    }
}
