:root {
    --aspect-ratio: 1.2;
}

body {
    margin: 0;
    padding: 0;
}

.bonfire {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.bon_back {
    position: absolute;
    z-index: 0;
    width: 30vw;
    height: calc(30vw / var(--aspect-ratio));
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-image: url(bonfire.png);
    background-position: 51% 100%;
    background-repeat: no-repeat;
    background-size: contain;

    mix-blend-mode: exclusion;

    animation: flickeringBone 4s ease-in-out infinite;
}

.fire {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    bottom: 0;

    mix-blend-mode: plus-lighter; /* making sure that flickering is making the fire ligther */
}

.fire.on {
    background-image: url(noiseSmall.svg), url(noise1.svg), url(noise.svg),
        linear-gradient(180deg, #000000, #656565d1 50%, #ffb100);
    background-size: 50vmin 50vmin, 50vmin 50vmin, 50vmin 50vmin, 100% 100%;
    background-blend-mode: color-burn, color-burn, color-burn, hard-light;

    filter: sepia(1) contrast(6);

    animation: firing 10s linear infinite;
}

.smog_limits {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    bottom: 0;

    background-image: url(noiseSmall.svg),
        radial-gradient(
            ellipse 50vmax 90vmax at 33% 65%,
            #000000 30%,
            #ffffff 52%
        ),
        radial-gradient(
            ellipse 50vmax 90vmax at 67% 65%,
            #000000 30%,
            white 52%
        );
    background-size: 50vmin 50vmin, 100%, 100%;
    background-blend-mode: difference;

    filter: grayscale(1) contrast(1.5) invert(1);

    mix-blend-mode: multiply;

    animation: smog 20s linear infinite;
}

.fire_limits {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vmax;
    bottom: 0;

    background-image: radial-gradient(
            ellipse 25% 58% at 50% 62%,
            white 38%,
            black 52%
        ),
        radial-gradient(ellipse 24% 24% at 50% 81%, #ffffff00 30%, black 52%),
        radial-gradient(ellipse 69% 87% at 50% 77%, #ffffffa3 13%, black 95%);
    background-size: contain;
    background-blend-mode: overlay;

    mix-blend-mode: multiply;
}

.fire_lights {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: calc(100vw / var(--aspect-ratio));
    bottom: 0;

    background-image: radial-gradient(
            ellipse 45% 14% at 50% 94%,
            #08040454 12% /* center of fire light */,
            #372b1da3 42% /* general light outside bon */,
            transparent 100% /* no effect outside */
        ),
        /* horizontal lights on the ground around bon*/
            radial-gradient(
                ellipse 18% 42% at 50% 86%,
                #ffb20082 0% /* center of fire light */,
                #ffad0017 28% /* general light outside bon */,
                transparent 100% /* no effect outside */
            )
            /* vertical lights */;
    /* mix-blend-mode: lighten; */
    background-size: contain;
    background-blend-mode: color-burn;

    /* animation: flickeringLights 4s ease-in-out infinite; */
}

.bon_front {
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: calc(30vw / var(--aspect-ratio));
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-image: url(bonfire.png);
    background-position: 51% 100%;
    background-repeat: no-repeat;
    background-size: contain;

    mix-blend-mode: color-dodge;
}

button {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    font-size: xx-large;
    font-family: monospace;
    color: rgb(111, 73, 34);
    background-color: #000000f5;
    border: none;
    cursor: pointer;
}

@keyframes smog {
    from {
        background-position: 0 100vmin, 0, 0;
    }
    to {
        background-position: 0 -100vmin, 0, 0;
    }
}

@keyframes firing {
    from {
        background-position: -25vmin 100vmin, 25vmin 100vmin, 0 100vh, 0;
    }
    to {
        background-position: 25vmin -100vmin, -25vmin -100vmin, 0 -100vh, 0;
    }
}

@keyframes flickeringBone {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(7);
    }
    100% {
        filter: brightness(1);
    }
}
@keyframes flickeringLights {
    0% {
        filter: blur(7px) opacity(0.91);
    }
    50% {
        filter: blur(10px) opacity(0.99);
    }
    100% {
        filter: blur(7px) opacity(0.91);
    }
}
